html {
  height: 100%;
  width: 100%;
}

<<<<<<< HEAD






.titulo_3_azul{
  color:blue;
}

.titulo_3_rojo{

  color:red;
=======
h3 {
  color: green;
>>>>>>> b7444b9fa061135e9b7f99c00068d90bd0f28e1c
}